# Global IDE ignores
.vscode/

# Maven build output
student_service/target/

# Config & Secrets
student_service/.env
student_service/application.properties
docker-compose/*.env

# OS files
.DS_Store

.gitattributes
HELP.md