CONSUL_HOST=consul
CONSUL_PORT=8500

SERVICE_ID=library-service
SERVICE_NAME=library-service
SERVICE_ADDRESS=library-service
SERVICE_PORT=80


DATABASE=mariadb://${LIBRARY_DB_APPLICATION_USER}:${LIBRARY_DB_APPLICATION_PASSWORD}@mariadb_library:3306/${LIBRARY_DB_NAME}