STUDENT_DB=student_service_db
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_URL=jdbc:postgresql://postgres_student:5432/student_service_db


RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=
RABBITMQ_PASSWORD=

RABBITMQ_STUDENT_EXCHANGE=student.exchange
RABBITMQ_STUDENT_ROUTING_KEY=student.created
RABBITMQ_STUDENT_QUEUE=student.created.queue

JWT_SECRET_KEY=


CONSUL_HOST=consul