# === Spring Boot ===
/target/
/out/
/bin/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


# === IDEs ===
.idea
*.iws
*.iml
*.ipr
.vscode/


# === System files ===
.DS_Store
Thumbs.db

# === Environment Variables ===
.env
.env.*

# === Docker compose env files ===
docker-compse/.env


.gitattributes
HELP.md
